{% extends 'expenses/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto text-center">
        <h1>Добро пожаловать в Expense Tracker!</h1>
        <p class="lead">Управляйте вашими финансами легко и просто</p>
        
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">💰 Счета</h5>
                        <p class="card-text">Управляйте вашими счетами и балансами</p>
                        <a href="{% url 'expenses:account_list' %}" class="btn btn-primary">Перейти к счетам</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📊 Транзакции</h5>
                        <p class="card-text">Добавляйте и просматривайте доходы и расходы</p>
                        <a href="{% url 'expenses:transaction_list' %}" class="btn btn-primary">Перейти к транзакциям</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">📂 Категории</h5>
                        <p class="card-text">Настройте категории для сортировки транзакций</p>
                        <a href="{% url 'expenses:category_list' %}" class="btn btn-primary">Перейти к категориям</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}